.*
!.gitignore
*.sh
centos
Neophyte/
ODMS/
RemoteSystemsTempFiles/
SA_DLMS/
Servers/
ServiceLoader/
WordpadWeb/
auth/
logCenterTransfer
logs/
release/
sass-build-files/
sass2EJB/
sass2Web/
ssgServer-4.0/
spark*
xland/target/
xland/*.log
