.*
.metadata/
!.gitignore
*.sh
centos
Neophyte/
ODMS/
RemoteSystemsTempFiles/
Servers/
SA_DLMS/
ServiceLoader/
WordpadWeb/
auth/
logCenterTransfer
logs/
release/
sass-build-files/
sass2EJB/
sass2Web/
ssgServer-4.0/
spark*
xland/target/
xland/*.log
hddc*
**/target
**/.settings
**/.classpath
**/*.log
**/xland.db
**/.cache*
**/*.class
EffectiveJava
!LearScala
NetBeansProjects
