@charset "utf-8";

* {
  font-family: "微软雅黑" "Microsoft YaHei" "Apple LiGothic Medium" serif monospace !important;
}

.app-content {
  overflow-y: auto;
}
.noshadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
}
