@charset "utf-8";

* {
  font-family: "微软雅黑", "Microsoft YaHei", "Apple LiGothic Medium", serif, monospace !important;
}

body {
	min-height: 2000px;
	padding-top: 52px;
	color: dimgray;
	background-color: #8CD6C0;
}

a:link {
}
.noshadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

/**
 * 简单，洁净，进步
 * Reference: http://tool.c7sky.com/webcolor/#character_14
**/
.main-container {

}

.content {
  overflow-y: auto;
}

.list .list-item {
  border-bottom: 1px dotted brown;
}
.list .list-item .tag {
  font-size: 0.8em;
  padding-right: 10px;
}
.list .list-item .item-head .title {
  margin: 10px auto 5px auto;
  font-size: 2em;
  font-weight: bold;
}
.list .list-item .body {
  overflow-x: hidden;
}
.list .list-item .foot {

}
.text-wrap {
  overflow-wrap: break-word;
}
.navbar-mini {
	background-color: #99EED0;
	border-color: #CCCCCC;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.notice {
	font-size: 2em;
	font-weight: bold;
}
